.titre{
    color: #E0E0E0;
    font-family: font1;
    font-weight: bold;
    font-size: 20px;
}

.separateur{
    width: 100%;
    background-color: #646464;
    height: 1px;
}

.container-calcul{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre-container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

#arrow{
    color: #FFFFFF;
    font-size: 25px;
}

.InputAddOn-field{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    background-color: #646464;
    color: white;
    border: none;
    border-radius: 5px;
}

.InputAddOn-field::placeholder{
    color: #E0E0E0;
}

.button-calcul{
    margin-top: 15px;
    background-color: #646464;
    color: #E0E0E0;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px 5px  10px;
    transition-duration: 0.2s;
}

.button-calcul:hover{
    opacity: 0.8;
}

.localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#localisation{
    color: white;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#localisation2{
    visibility: hidden;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#localisation:hover{
    cursor: pointer;
}