#mapid {
    height: 550px;
    width: 45vw;
    float: right;
}
#formCalcule {
    width: 100%;
    float: left; /* Faire flotter le formulaire à gauche */
}

.container_calcule{
    width: 100%;
}

#localisation{
    width: 30px;
    height: 30px;
}

