
.ma-classe {
    padding: 15px;
    cursor: pointer;
    margin: 0;
    width: auto;
}
#autocompletion{
    width: 30%;
    color: white;
    font-size: 17px;
    font-family: font1;
    background-color: #646464;
}


#autocompletionArrivee{
    width: 30%;
    color: white;
    font-size: 17px;
    font-family: font1;
    background-color: #646464;
}
.ma-classe:hover {
    background-color: grey;

}

.lo