/* Nav bar */

html{
    height: 100%;
}
body{
    background-color: #23272A;
    height: 100%;
    width: 100%;
    margin: 0;
}

footer p {
    display: flex;
    justify-content: center;
    color: #E0E0E0;
    align-self: center;
    font-size: 12px;
    font-family: font1;
}

/* Bootstrap alerts */
/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */

